.gradle
.settings/
.classpath
.project
/build
/src_derived/
/bin/
/tmp/
/installed/
tmp/
/website/pages/docs
/book/conc-doc.aux
/book/conc-doc.bbl
/book/conc-doc.bcf
/book/conc-doc.blg
/book/conc-doc.idx
/book/conc-doc.log
/book/conc-doc.pdf
/book/conc-doc.ptc
/book/conc-doc.run.xml
/book/conc-doc.synctex.gz
/book/conc-doc.toc
/generated-src/*
.classpath
/release/lib
/release/docs
/release/rtCache
/release/LICENSE
/Concurnas-*.zip
/Concurnas-*.msi
.classpath
